{% extends 'basic/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock %}

{% block main %}
{% if user.id %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h3>猜你所想</h3>
            <ul>
                 {% for music in recommends %}
                     <li class="recommend-music-item">
                        <a href="/music/player/{{ music.list_id }}" target="player_window">
                        <div>
                            <img class="recommend-music-img" src="/static{{ music.music_pic }}"/>
                            <div class="music-name"><p>歌曲：{{ music.music_name }}</p></div>
                            <div class="music-singer"><p>歌手：{{ music.singer }}</p></div>
                            <div class="play-no"><p>播放量：0</p></div>
                        </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h3>大家都在听</h3>
            <ul>
                 {% for music in hots %}
                     <li class="recommend-music-item">
                        <a href="/music/player/{{ music.list_id }}" target="player_window">
                            <div>
                                <img class="recommend-music-img" src="/static{{ music.music_pic }}"/>
                                <div class="music-name"><p>歌曲：{{ music.music_name }}</p></div>
                                <div class="music-singer"><p>歌手：{{ music.singer }}</p></div>
                                <div class="play-no"><p>播放量：0</p></div>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-2"></div>
    </div>
{% else %}
<div class="jumbotron">
  <div class="container">
    <h1>Surprise</h1>
      <p>给你不一样的推荐惊喜！</p>
        <p><a class="btn btn-primary btn-lg" href="/accounts/register/" role="button">learn more</a></p>
  </div>
</div>
{% endif %}
{% endblock %}