.recommend-music-item{
    display: inline-block;
    width: 17%;
    height: 20%;
    margin: 0 1%;
}

.recommend-music-img{
    width: 100%;
    padding: 0;
    margin: 0;
}

.music-name{
    width: inherit;
    overflow: hidden; /*自动隐藏文字*/
    text-overflow: ellipsis;/*文字隐藏后添加省略号*/
    white-space: nowrap;/*强制不换行*/
}