<table class="table table-striped">
    <tr>
        <td><b>#</b></td>
        <td><b>歌曲</b></td>
        <td><b>歌手</b></td>
        <td><b>专辑</b></td>
        <td><b>时长</b></td>
    </tr>
    {% for history in histories %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="/music/player/{{ history.music.list_id }}" target="player_window">{{ history.music.music_name }}</a></td>
            <td>{{ history.music.singer }}</td>
            <td>{{ history.music.music_name }}</td>
            <td>{{ history.music.length_time }}</td>
        </tr>
    {% endfor %}
</table>